footer {
    grid-area: footer;
}

.pie {
    background-image: url("../imagenes/1.c-\ Fondo-Pie-de-pagina.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 40px;
    height: 5.5rem;
    background-color: map-get($color,backgroundContenido);
    align-items: flex-start;

    h2 {
        font-size: 1.2rem;
        font-weight: 120px;
        color: map-get($color,color_textTitulo );
    }
    .bx{
        font-size: 2.3rem;
        color: black;
    }

    .pie__ul {
        display: flex;
        flex-flow: row wrap;
        gap: map-get($espaciado,espaciadoMax);
        justify-content: space-evenly;
    }

    .pie__ul li {
        text-decoration: none;
        list-style-type: none;
    }
}

@media screen and (max-width: 480px) {
    footer {
        grid-area: footer;
    }

    .pie {
<<<<<<< HEAD
        padding: 25px;
        padding-bottom: 55px;
=======
        padding: 20px;
        padding-top: 15px;
>>>>>>> sass2
        height: 4rem;
        align-items: flex-start;
        

        h2 {
<<<<<<< HEAD
            font-size: 0.6rem;
            font-weight: 100px;
=======
            font-size: 0.8rem;
            font-weight: 120px;
>>>>>>> sass2
            color: map-get($color,color_textTitulo);
        }

        .bx{
            font-size: 2rem;
            color: black;
        }

        .pie__ul {
            display: flex;
            flex-flow: row wrap;
            gap: map-get($espaciado, espaciadoMin);
            justify-content: space-evenly;

            li {
                text-decoration: none;
                list-style-type: none;
            }
        }
    }
<<<<<<< HEAD
    .bx:active {
        font-size: 2rem;
=======
    .bx:active{
        font-size: 2.6rem;
>>>>>>> sass2
    }
}

@media screen and (min-width: 481px) and (max-width: 760px) {
    footer {
        grid-area: footer;
    }

    .pie {
        padding: 25px;
        padding-bottom: 40px;
        height: 4rem;
        align-items: flex-start;
        h2 {
            font-size: 1.2rem;
            font-weight: 120px;
            color: map-get($color,color_textTitulo );
        }
    
        .bx{
            font-size: 1.8rem;
            color: black;
        }
    
        .pie__ul {
            display: flex;
            flex-flow: row wrap;
            gap: map-get($espaciado,espaciadoMin);
            justify-content: space-evenly;
            li {
                text-decoration: none;
                list-style-type: none;
            }
        }
    }
}
