header {
    grid-area: header;
    @extend %cabeceraDefaul;
    padding: 10px;

}

.cabecera {
    @extend %cabeceraDefaul;
    padding: 20px;
    align-items: center;

    img {
        max-width: 4rem;
<<<<<<< HEAD
        padding-left: 10px;
=======
>>>>>>> sass2
    }

    ul {
        width: 600px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: map-get($espaciado,espaciadoNavMax);
        text-decoration: none;
        list-style-type: none;
    }

    li a {
        text-decoration: none;
        color: map-get($color,color_headerText);
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

        &:after {
            content: "";
            display: block;
            background: #ffff;
            width: 90%;
            margin-top: 3px;
            height: 1.5px;
            clip-path: var(--clippy);
            transition: clip-path .4s;
        }

        &:hover {
            --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

}

.nav__hamburguesa,
.nav__close {
    display: none;
}

@media screen and (max-width: 480px) {

    header {
        grid-area: header;
        // display: flex;
        // flex-flow: column;
        // justify-content: center;
        // align-items: flex-end;
    }

    .cabecera {

        // display: flex;
        // background-color: rgb(24, 24, 24);
        // background-size: cover;
        // min-height: 500px;
        // height: 100vh;
        .cabecera__logo{
            z-index: 1;
        }
        .nav {
            --state-close: scale(0);
            --state-hamburger: scale(1);
            --state-menu: translate(-100%);
            display: grid;
            justify-content: space-between;

            &:target {
                --state-menu: translate(0);
                --state-close: scale(1);
                --state-hamburger: scale(0);
            }
        }

        .nav__hamburguesa,
        .nav__close {
            display: unset;
            cursor: pointer;
            grid-column: 1/-1;
            grid-row: 1/-1;
            transition: .4s transform;
            z-index: 1;
        }

        .nav__hamburguesa {
            transform: var(--state-hamburger);
        }

        .nav__close {
            transform: var(--state-close);
        }

        .nav__icon {
            width: 40px;
        }

        img {
            max-width: 4rem;
        }

        .cabecera__ul {
            /* display: none; */
            @include nav(map-get($espaciado, espaciadoMin));

            li {
                font-size: map-get($tamanos, textNavMin);
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 760px) {
    .cabecera{
        .nav {
            --state-close: scale(0);
            --state-hamburger: scale(1);
            --state-menu: translate(-100%);
            display: grid;
            justify-content: space-between;
            &:target {
                --state-menu: translate(0);
                --state-close: scale(1);
                --state-hamburger: scale(0);
            }
        }
        .nav__hamburguesa,
        .nav__close {
            display: unset;
            cursor: pointer;
            grid-column: 1/-1;
            grid-row: 1/-1;
            transition: .4s transform;
            z-index: 1;
        }
        .nav__hamburguesa {
            transform: var(--state-hamburger);
        }
        .nav__close {
            transform: var(--state-close);
        }
        .nav__icon {
            width: 40px;
        }
        .cabecera img {
            max-width: 4rem;
        }
        .cabecera__ul {
            /* display: none; */
            @include nav (map-get($espaciado, espaciadoMed));
            li {
                font-size: map-get($tamanos,textNavMin);
            }
        }
    }
}