$colores: (
    backgroundHeader: rgb(148, 28, 28),
    color_headerText: rgb(233, 233, 233),
    backgroundContenido:rgba(211, 150, 106, 0.466),
    color_textTitulo: rgb(63, 63, 63)
);

$tamaños: (
    textTitulo: ,
    textSubtit: ,
    textParrafo: 
);

$espaciado: (
    espaciadoMin: 2rem,
    espaciadoMed: ,
    espaciadoMax: 5rem
);
