*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
/* INDEX */
.header{
  background-color: black;
  color: #fff;
}
.cabecera{
  padding: 15px;
}
.cabecera img{
  max-width: 3.5rem;
  object-fit: cover;
}
.navbar{
  display: flex;
  align-items: center;
  padding-top: 30px;
  width: 40rem;
}
/* CONTENIDO */
.main{
  height: 100vh;
  background-color: rgba(211, 150, 106, 0.466);
  display: flex;
  align-items: center;
}
.main img{
  max-width: 35rem;
}
.column1{
  position: relative ;
  left: 10rem;
}
.column2{
  position: absolute;
  left: 43rem;
  display: flex;
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  background-color: rgba(241, 241, 241, 0.445);
  padding: 20px;
}


/* FOOTER */
.pie{
  background-image: url("../imagenes/1.c-\ Fondo-Pie-de-pagina.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 45%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
  height: 10rem;
  background-color: rgba(211, 150, 106, 0.466);
  align-items: flex-start;
}
.pie h2{
  font-size: 1.2rem;
  font-weight: 120px;
  color: rgb(63, 63, 63);
}
.pie img{
  max-width: 2.5rem;
}
.pie__ul{
  display: flex;
  flex-flow: row wrap;
  gap: 5rem;
  justify-content: space-evenly;
}
.pie__ul li{
  text-decoration: none;
  list-style-type: none; 
}
/* SOBRE MI */
.columnsO1{
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 40px;
}
.columnsO1 h1{
  padding-bottom: 20px
}
.columnsO1 p{
  padding-right: 20px;
}
.columnsO2 img{
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* PORFOLIO */
.main-pO{
  height: 100vh;
  background-color: rgba(211, 150, 106, 0.466);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.carousel{
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.carousel-inner{
  width: 50%;
}
